/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: roboto;
  src: url(https://fonts.googleapis.com)
}

#main {
    margin: 0px;
    height:1fr;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    grid-column: 2;
    font-family: roboto;
}

#dashboard {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: aqua; 
    min-height: 100vh;
    padding: 10px;
}

.dashboard {
    font-size: 30px;
    margin: 20px;
}

.svg {
display: flex;
align-items: center;
gap: 5px;
}

.svg2 {
  margin-top: 10rem;
}

.input-area { 
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
}

nav {
    margin: 20px;
}

.communities {
    margin-bottom: 100px;
}

#header {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px rgba(17, 19, 18, .75);
    
 }
 .search {
    width: 100%;
 }

 #search-bar {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

input {
  border-radius: 2rem;
  border: none;
  background-color: rgb(187, 187, 187);
}

.input1 {
  margin-left: 3rem;
  margin-right: 10vw;
  width: 35rem;
}

 .input2 {
  width: 8rem;
}

 #first-name {
    width: fit-content;
    display: flex;
    justify-content:end;
    width:28vw;
    gap: 20px;
    padding-right: 2rem;
    font-size: 2rem;
 }

 #full-name {
    font-size: 3rem;
    width: 60vw;
    height: 12vh;
 }

 .full-name2 {
  font-size: 3rem;
 }
 

 #buttons {
  width: 100%;
    display: flex;
    align-items: end;
    width: 25vw;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    padding-right: 2rem;
    margin-bottom: 1rem;
 }

 #projects {
    grid-column-start: 2;
    grid-row-start: 2;
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
 }

 #side-bar {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    background-color: aqua;
    height: 70vh;
    border-radius: 10px;
    margin-top: 2rem;
 }

 img {
   height: 30px;
   width: 30px;
   border-radius: 60px;
 }

.smallImg {
  height: 2rem;
  width: 2rem;
}

 .img2 {
   height: 70px;
   width: 70px;
   margin-left: 50px;
   margin-right: 20px;
   border-radius: 50px;
 }

 #full-name {
   display: flex;
   align-items: flex-end;
   font-size: 20px;
 }

 .new {
   font-size: 20px;
   border-radius: 30px;
   padding-left :20px;
   padding-right: 20px;
   background-color: antiquewhite;
 }

 .share {
  font-size: 20px;
   border-radius: 30px;
   padding-left :20px;
   padding-right: 20px;
   background-color: antiquewhite;
 }

 .upload {
  font-size: 20px;
   border-radius: 30px;
   padding-left :20px;
   padding-right: 20px;
   background-color: antiquewhite;
 }

 .imgC {
   width: 15rem;
   height: 15rem;
 }

 .card {
  display: flex;
   flex-direction: column;
   align-items: center;
 }

 h2{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5px;
 }

 #weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
 }
 
 .weather_Search {
  width: 3rem;
 }

 .weatherResults {
  color: black;
  margin-top:2rem
 }

 button {
  border: none;
 }

 .bigCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 2rem;
  border-left: 1rem solid;
  border-color: blue;
 }
 
 .svgc {
  display: flex;
  justify-content: center;
 }
 